
html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--iwhite);
}

#pop-up{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.678);

    display: flex;
    justify-content: center;
    align-items: center;
}

#display-card{
    height: 60%;
    width: 50%;

    background-color: white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}

#display-card img{
    width: 100%;
    height: 30%;

    object-fit: cover;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#display-card h1{
    margin-left: 15px;

    width: 100%;
    height: 10%;

    font-family: "Poppins";
}

#display-card svg{
    color: var(--igreen);
    margin-left: 15px;
}

#display-card h4{
    margin-left: 15px;

    width: 100%;
    height: 20%;

    font-family: "Playpen Sans";
}

#display-card p{
    margin-left: 15px;

    width: 100%;
    height: 40%;
}

header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(90deg,
     var(--igreen) 0%, var(--igreen) 33.3%,
     var(--iwhite) 33.3%, var(--iwhite) 66.6%,
     var(--ired) 66.6%, var(--ired) 99.9%
);
}

header h1{
    font-family: "Italianno";
    font-weight: 600;
    font-size: 65px;
    text-align: center;
    text-shadow: #00000050 5px 5px 5px;
    user-select: none;
}

#menu-container{
    width: 100%;
    height: 80%;

    background-color: var(--igrey);

    display: flex;
    justify-content: center;
    align-items: center;
}

#menu{
    width: 50%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--iwhite);

    border: solid 5px var(--iwhite);
    border-radius: 15px;
}

#menu nav{
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    list-style: none;

    border-bottom: solid 5px var(--igrey);
}

#menu nav li{
    width: 25%;
    height: 100%;

    font-family: "Poppins";
    font-weight: bold;
    font-size: 15px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .6s;
}

#menu nav li:hover{
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
}

#card-container{
    width: 99%;
    height: 94%;

    border-radius: 15px;

    display: grid;
    grid-template-columns: repeat(4, 23%);
    gap: 11px;

    overflow: scroll;
}

#card-container::-webkit-scrollbar{
    display: none;
}

.card{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: #999b7e;

    border-radius: 15px;

    width: 100%;
    height: 8rem;
    margin: 10px;

    transition: all .2s;
}

.card:hover{
    box-shadow: 3px 3px 10px black;
    cursor: pointer;
}

.card img{
    height: 60%;
    width: 100%;

    object-fit: cover;
    border-radius: 15px;
}

.card div{
    height: 40%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card h3{
    height: 25%;
        
    font-family: "Poppins";
    font-size: 15px;
    text-align: center;
    color: var(--igrey);
}