html, body{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--iwhite);
}

header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(90deg,
     var(--igreen) 0%, var(--igreen) 33.3%,
     var(--iwhite) 33.3%, var(--iwhite) 66.6%,
     var(--ired) 66.6%, var(--ired) 99.9%
);
}

header h1{
    font-family: "Italianno";
    font-weight: 600;
    font-size: 65px;
    text-align: center;
    text-shadow: #00000050 5px 5px 5px;
}


#presentation-container{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 80%;

    background-color: var(--igrey);

    display: flex;
    justify-content: center;
    align-items: center;
    
}

#presentation{
    width: 80%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--iwhite);

    border: solid 5px var(--iwhite);
    border-radius: 15px;
}

.container {
    display: flex;
    width: 100%;
    height: 20%;
}

.texte {
    flex: 30%;
    margin: 2%;
    display: flex;
    align-items: center;
    font-family: "Italianno";
    font-size: 20px;
}

.image{
    flex: 70%;
    border: black 2px solid;
}

img{
    display:flex;
    width:100% ;
    height: 100%;
}

@media screen and (max-width:700px){
    #container1 , #container3 {
        flex-direction: column;
    }
    #container2{
        flex-direction: column-reverse;
    }
}